/* 전체적으로 화면에 너무 꽉 차는 거보다 좀 띄우는 게 예쁜 거 같아서리 ㅎㅎ */

.container {
  padding: 0 15px; /* 상하 0, 좌우 15px 패딩 적용 */
  max-width: 1700px; /* 컨테이너 최대 너비 설정 */
  margin: 0 auto; /* 좌우 중앙 정렬 */
}

/* 현재 스크롤바 유무때문에 화면 넘길 때 가로 너비가 바뀜. 보기 싫어서 계속 보이게 함 ^ */
html {
  overflow-y: scroll;
}